<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjoutProduit</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutAnnonce</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ecommerce.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ecommerce.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutEvaluation</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutClient</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutProduitPanier</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutProduitPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierPanier</servlet-name>
        <servlet-class>com.ecommerce.controllers.ModifierPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppProduitDePanier</servlet-name>
        <servlet-class>com.ecommerce.controllers.SuppProduitDePanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoiMsgParClient</servlet-name>
        <servlet-class>com.ecommerce.controllers.EnvoiMsgParClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoiEmail</servlet-name>
        <servlet-class>com.ecommerce.controllers.EnvoiEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppEvaluation</servlet-name>
        <servlet-class>com.ecommerce.controllers.SuppEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>com.ecommerce.controllers.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutCommande</servlet-name>
        <servlet-class>com.ecommerce.controllers.AjoutCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>com.ecommerce.controllers.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieServlet</servlet-name>
        <servlet-class>com.ecommerce.controllers.PieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilParMois</servlet-name>
        <servlet-class>com.charts.controllers.ProfilParMois</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantiteProduit</servlet-name>
        <servlet-class>com.charts.controllers.QuantiteProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AchatParMarque</servlet-name>
        <servlet-class>com.charts.controllers.AchatParMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nombreVisite</servlet-name>
        <servlet-class>com.charts.controllers.NombreVisite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppAnnonce</servlet-name>
        <servlet-class>com.ecommerce.controllers.SuppAnnonce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutProduit</servlet-name>
        <url-pattern>/AjoutProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutAnnonce</servlet-name>
        <url-pattern>/AjoutAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutEvaluation</servlet-name>
        <url-pattern>/AjoutEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutClient</servlet-name>
        <url-pattern>/AjoutClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutProduitPanier</servlet-name>
        <url-pattern>/AjoutProduitPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierPanier</servlet-name>
        <url-pattern>/ModifierPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppProduitDePanier</servlet-name>
        <url-pattern>/SuppProduitDePanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoiMsgParClient</servlet-name>
        <url-pattern>/EnvoiMsgParClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoiEmail</servlet-name>
        <url-pattern>/EnvoiEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppEvaluation</servlet-name>
        <url-pattern>/SuppEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutCommande</servlet-name>
        <url-pattern>/AjoutCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/ChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieServlet</servlet-name>
        <url-pattern>/PieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilParMois</servlet-name>
        <url-pattern>/ProfilParMois</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantiteProduit</servlet-name>
        <url-pattern>/QuantiteProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AchatParMarque</servlet-name>
        <url-pattern>/AchatParMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nombreVisite</servlet-name>
        <url-pattern>/nombreVisite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppAnnonce</servlet-name>
        <url-pattern>/SuppAnnonce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
